*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #a9ecf7;
  background-image: url("../../public/background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-container {
  margin: auto;
}
