.navigation-container {
  width: 100%;
}

.navigation-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}

.navigation-link {
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 2rem;
  color: #316bb3;
  text-shadow: 3px 2px 0px #ffcb03;
  background-color: #edfbfb55;

  &:hover {
    background-color: #edfbfbc5;
  }

  @media (width < 500px) {
    font-size: 1.2rem;
  }
}

.active {
  background-color: #edfbfbb7;
}
